## --- in class code for python basics ---

In [13]:
tree = 6
for i in range(6):
    print(" " * tree , end = '*' )
    print('*'*2*i)
    tree -=1

      *
     ***
    *****
   *******
  *********
 ***********

In [3]:
tree = 10 
z = tree + 2 
x = 1 
for n in range(0,tree):
    for n in range(0,z):
        print(' ', end = '')
    for n in range(0,x):
        print('* ', end = '')
    x= x + 1
    z = z -1 
    print()

            *
           * *
          * * *
         * * * *
        * * * * *
       * * * * * *
      * * * * * * *
     * * * * * * * *
    * * * * * * * * *
   * * * * * * * * * *

In [8]:
import math 
for n in range(0,9):
    i = math.floor(n/2)
    s = math.floor((9-n)/2)
    if (n/2).is_integer():
        tree_even = ' '*s + '*'*i + ' ' + '*'*i  + ' '*s
        print(tree_even)
    else: 
        tree_odd = ' '*s + '*'*n + ' '*s 
        print(tree_odd)
print('   !!   ')

    *
   * *
   ***
  ** **
  *****
 *** ***
 *******
**** ****
   !!

In [16]:
i = 0 
star = '*'
tree_size = 12
trunk = 3 

while i < tree_size: 
    print(star.center(40))
    star += '**' 
    i += 1 

while i < (tree_size + trunk):
    print('***'.center(40))
    i = i +1

                   *
                  ***
                 *****
                *******
               *********
              ***********
             *************
            ***************
           *****************
          *******************
         *********************
        ***********************
                  ***
                  ***
                  ***

In [11]:
rows = 5 
for i in range(rows+1):
    for j in range(i):
        print(i, end = '')
    print('')

1
22
333
4444
55555

In [14]:
list_number = [1,2,3,4,5,6,7,8,9]
i = 10 
for number in range(9):
    print((int((i-1)/2))*'+', str(number)*number + (int((i+1)/2))*'+')
    i -= 1

++++ +++++
++++ 1+++++
+++ 22++++
+++ 333++++
++ 4444+++
++ 55555+++
+ 666666++
+ 7777777++
 88888888+

## Continue : skips to the next iteration of the loop

In [18]:
fruits = ['bananas', 'apples', 'cherry']
for x in fruits:
    if x == 'bananas':
       continue
    print(x)

apples
cherry

In [19]:
i = 0 
while i < 6: 
    i = i + 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

## Break stops the Loop

In [24]:
fruits = ['bananas', 'apples', 'cherry']

for x in fruits:
    print(x)
    if x == 'apples': 
        break

bananas
apples

In [25]:
i = 1 
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

## Pass empty for loop

In [35]:
mylist = []
for x in [1,2,3]:
  pass

mylist

[]

In [34]:
mylist = []
for x in [1,2,3]:
    break
    mylist.append(x)



mylist

[]

## Nested For loops

In [37]:
persons = ['Jon', 'Pete', 'Mary']
food = ['Japanese', 'Mexican', 'French']

for person in persons:
    for restaurant in food:
        print(person + ' eats in ' + restaurant)

Jon eats in Japanese
Jon eats in Mexican
Jon eats in French
Pete eats in Japanese
Pete eats in Mexican
Pete eats in French
Mary eats in Japanese
Mary eats in Mexican
Mary eats in French

## Nested if statements

In [47]:
num = float(input('Enter a number:'))

if (type(num) != int):
    print('Not a number please try again')
    
if num >= 0: 
    if num == 0: 
        print('Number is zero')
    else: 
        print('Positive')
if num < 0: 
    print('Number is negative')

Enter a number:14
Not a number please try again

TypeError: '>=' not supported between instances of 'str' and 'int'

In [49]:
float('14')

14.0

# FUNctions

In [2]:
def print_greeting():
    print('Hello students!')
    
print_greeting()

Hello students!

In [3]:
def print_date(month, day , year):
    joined = str(year) + '/' + str(month) +'/' + str(day)
    print(joined)

print_date(8,13,2021)

2021/8/13

In [4]:
def averages(values):
    if len(values) == 0: 
        return None
    return(sum(values)/len(values))

In [5]:
averages([5,6,7,10])

7.0

In [7]:
averages('hello') ## will not work since you need numeric values

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [64]:
def birthday_func(month, date):
    print('My birthday is on the month of : '+ str(month))
    print('My birthday is on the : ' + str(date))

In [65]:
birthday_func(7,14)

My birthday is on the month of : 7
My birthday is on the : 14

In [67]:
birthday_func('July', 14)

My birthday is on the month of : July
My birthday is on the : 14

In [68]:
birthday_func('July', '14')

My birthday is on the month of : July
My birthday is on the : 14

In [69]:
birthday_func(7, '14')

My birthday is on the month of : 7
My birthday is on the : 14

In [26]:
def first_negative(values):
    for v in values:
        if v < 0:
            return v

print(first_negative([5, 6,-1, 9 , 10]))
print(first_negative([]))

-1
None

In [28]:
def first_negative(values):
    assert values != []  # Check if the input list is not empty
    for v in values:    # Iterate through each element in the list
        if v < 0:       # Check if the element is negative
            return v    # Return the first negative element

# Example usage:
result = first_negative([5, 6, -1, 9, 10])
print(result)  # Output: -1

result = first_negative([])  # Raises an AssertionError since the input list is empty

-1

AssertionError:

In [29]:
mylist = [] 
def first_negative(values):
    for v in values:
        if v >= 0:
            print('I am in this if statement block')
            continue
        else:
            mylist.append(v)
            break
            
    if len(mylist) == 1 : 
        return mylist
    else:
        return'There are no negatives'

In [30]:
first_negative([1,2,3,4])

I am in this if statement block
I am in this if statement block
I am in this if statement block
I am in this if statement block

'There are no negatives'

In [89]:
mylist

[-5]

## The point of (No) returns

In [101]:
def func_returns(): 
    print('hello')
    print('hello')
    print('hello')
    print('hello')
func_returns()

hello
hello
hello
hello

In [9]:
def func_returns(a): 
    if(a <= 5):
        return('hello')
    if(a >= 10):
        return('bye')

func_returns() ## what will this pring

'hello'

## Local/Global variables

In [115]:
b = 10
def math_ploy(x1):
    y = x1 + b 
    print(y)
    return y

print(math_ploy(5))
print(y)

15
15

NameError: name 'y' is not defined

In [129]:
var = 5
var2 =4

def func_type1():
    return 'hello'

def func_type2(var):
    print(var)

def func_type3(cat = var, dog = var2):
    print(cat -1)
    print(dog -1)

In [119]:
func_type1()

'hello'

In [123]:
func_type2(5)

5

In [130]:
func_type3(cat=10, dog = 6)

9
5

In [137]:
def a():
    return 5

def b(y):
    print('this is my nested function')
    
y = a()
print(y)
b(y)

5
this is my nested function

In [ ]:
# Let's create a solution for the intermediate in-class Python problem for graduate students in astrophysics.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the data
# Assuming the data is available as a dictionary for demonstration purposes.
data = {
    'ID': np.arange(1, 101),
    'RA': np.random.uniform(0, 360, 100),
    'DEC': np.random.uniform(-90, 90, 100),
    'Magnitude': np.random.normal(10, 2, 100),
    'Color_Index': np.random.normal(0.5, 0.3, 100),
    'Mass': np.random.normal(1, 0.5, 100)
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Basic Statistics
mean_magnitude = df['Magnitude'].mean()
median_magnitude = df['Magnitude'].median()
std_magnitude = df['Magnitude'].std()

mean_mass = df['Mass'].mean()
median_mass = df['Mass'].median()
std_mass = df['Mass'].std()

# Luminosity Function
plt.figure(figsize=(8, 5))
plt.hist(df['Magnitude'], bins=20, edgecolor='black')
plt.xlabel('Magnitude')
plt.ylabel('Number of Stars')
plt.title('Luminosity Function')
plt.grid(True)
plt.show()

# Color-Magnitude Diagram (CMD)
plt.figure(figsize=(8, 5))
plt.scatter(df['Color_Index'], df['Magnitude'], color='blue', s=10)
plt.gca().invert_yaxis()  # Invert y-axis
plt.xlabel('Color Index (B-V)')
plt.ylabel('Magnitude')
plt.title('Color-Magnitude Diagram')
plt.grid(True)
plt.show()

# Mass Distribution
plt.figure(figsize=(8, 5))
plt.hist(df['Mass'], bins=20, edgecolor='black')
plt.xlabel('Mass (Solar Masses)')
plt.ylabel('Number of Stars')
plt.title('Mass Distribution')
plt.grid(True)
plt.show()

# Identify Main Sequence Stars
def filter_main_sequence(df, min_mag, max_mag):
    return df[(df['Magnitude'] >= min_mag) & (df['Magnitude'] <= max_mag)]

main_sequence = filter_main_sequence(df, min_mag=8, max_mag=12)

plt.figure(figsize=(8, 5))
plt.scatter(main_sequence['Color_Index'], main_sequence['Magnitude'], color='red', s=10)
plt.gca().invert_yaxis()  # Invert y-axis
plt.xlabel('Color Index (B-V)')
plt.ylabel('Magnitude')
plt.title('Main Sequence Stars in CMD')
plt.grid(True)
plt.show()

# Basic statistics output
{
    "mean_magnitude": mean_magnitude,
    "median_magnitude": median_magnitude,
    "std_magnitude": std_magnitude,
    "mean_mass": mean_mass,
    "median_mass": median_mass,
    "std_mass": std_mass
}