# Solutions

### solution to calculator problem

In [43]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    return x / y

def calculator():
    print("Advanced Calculator")
    print("Operations: ")
    print("1. Add")
    print("2. Subtract")
    print("3. Multiply")
    print("4. Divide")
    print("5. Exit")

    while True: ## what is this doing? is it infinite?
        operation = input("Enter the operation number (1,2,3,4) or '5' to exit: ")

        if operation == '5':
            print("Goodbye!")
            break

        if operation in ['1', '2', '3', '4']:
            try:
                num1 = float(input("Enter the first number: "))
                num2 = float(input("Enter the second number: "))

                if operation == '1':
                    result = add(num1, num2)
                elif operation == '2':
                    result = subtract(num1, num2)
                elif operation == '3':
                    result = multiply(num1, num2)
                else:
                    result = divide(num1, num2)

                print("Result:", result)
            except ValueError:
                print("Invalid input. Please enter valid numbers.")
        else:
            print("Invalid operation number. Please try again.")

if __name__ == "__main__":
    calculator()

Advanced Calculator
Operations:
1. Add
2. Subtract
3. Multiply
4. Divide
5. Exit
Enter the operation number (1,2,3,4) or '5' to exit: 5
Goodbye!

## --- in class code for python basics ---

In [13]:
tree = 6
for i in range(6):
    print(" " * tree , end = '*' )
    print('*'*2*i)
    tree -=1

      *
     ***
    *****
   *******
  *********
 ***********

In [3]:
tree = 10 
z = tree + 2 
x = 1 
for n in range(0,tree):
    for n in range(0,z):
        print(' ', end = '')
    for n in range(0,x):
        print('* ', end = '')
    x= x + 1
    z = z -1 
    print()

            *
           * *
          * * *
         * * * *
        * * * * *
       * * * * * *
      * * * * * * *
     * * * * * * * *
    * * * * * * * * *
   * * * * * * * * * *

In [8]:
import math 
for n in range(0,9):
    i = math.floor(n/2)
    s = math.floor((9-n)/2)
    if (n/2).is_integer():
        tree_even = ' '*s + '*'*i + ' ' + '*'*i  + ' '*s
        print(tree_even)
    else: 
        tree_odd = ' '*s + '*'*n + ' '*s 
        print(tree_odd)
print('   !!   ')

    *
   * *
   ***
  ** **
  *****
 *** ***
 *******
**** ****
   !!

In [16]:
i = 0 
star = '*'
tree_size = 12
trunk = 3 

while i < tree_size: 
    print(star.center(40))
    star += '**' 
    i += 1 

while i < (tree_size + trunk):
    print('***'.center(40))
    i = i +1

                   *
                  ***
                 *****
                *******
               *********
              ***********
             *************
            ***************
           *****************
          *******************
         *********************
        ***********************
                  ***
                  ***
                  ***

In [11]:
rows = 5 
for i in range(rows+1):
    for j in range(i):
        print(i, end = '')
    print('')

1
22
333
4444
55555

In [14]:
list_number = [1,2,3,4,5,6,7,8,9]
i = 10 
for number in range(9):
    print((int((i-1)/2))*'+', str(number)*number + (int((i+1)/2))*'+')
    i -= 1

++++ +++++
++++ 1+++++
+++ 22++++
+++ 333++++
++ 4444+++
++ 55555+++
+ 666666++
+ 7777777++
 88888888+

## Continue : skips to the next iteration of the loop

In [18]:
fruits = ['bananas', 'apples', 'cherry']
for x in fruits:
    if x == 'bananas':
       continue
    print(x)

apples
cherry

In [19]:
i = 0 
while i < 6: 
    i = i + 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

## Break stops the Loop

In [24]:
fruits = ['bananas', 'apples', 'cherry']

for x in fruits:
    print(x)
    if x == 'apples': 
        break

bananas
apples

In [25]:
i = 1 
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

## Pass empty for loop

In [35]:
mylist = []
for x in [1,2,3]:
  pass

mylist

[]

In [34]:
mylist = []
for x in [1,2,3]:
    break
    mylist.append(x)



mylist

[]

## Nested For loops

In [37]:
persons = ['Jon', 'Pete', 'Mary']
food = ['Japanese', 'Mexican', 'French']

for person in persons:
    for restaurant in food:
        print(person + ' eats in ' + restaurant)

Jon eats in Japanese
Jon eats in Mexican
Jon eats in French
Pete eats in Japanese
Pete eats in Mexican
Pete eats in French
Mary eats in Japanese
Mary eats in Mexican
Mary eats in French

## Nested if statements

In [47]:
num = float(input('Enter a number:'))

if (type(num) != int):
    print('Not a number please try again')
    
if num >= 0: 
    if num == 0: 
        print('Number is zero')
    else: 
        print('Positive')
if num < 0: 
    print('Number is negative')

Enter a number:14
Not a number please try again

TypeError: '>=' not supported between instances of 'str' and 'int'

In [49]:
float('14')

14.0

# FUNctions

In [53]:
def print_greeting():
    print('Hello students!')
    
print_greeting()

Hello students!

In [60]:
def print_date(month, day , year):
    joined = str(year) + '/' + str(month) +'/' + str(day)
    print(joined)

print_date(8,13,2021)

2021/8/13

In [61]:
def averages(values):
    if len(values) == 0: 
        return None
    return(sum(values)/len(values))

In [62]:
averages([5,6,7,10])

7.0

In [63]:
averages('hello')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [64]:
def birthday_func(month, date):
    print('My birthday is on the month of : '+ str(month))
    print('My birthday is on the : ' + str(date))

In [65]:
birthday_func(7,14)

My birthday is on the month of : 7
My birthday is on the : 14

In [67]:
birthday_func('July', 14)

My birthday is on the month of : July
My birthday is on the : 14

In [68]:
birthday_func('July', '14')

My birthday is on the month of : July
My birthday is on the : 14

In [69]:
birthday_func(7, '14')

My birthday is on the month of : 7
My birthday is on the : 14

In [26]:
def first_negative(values):
    for v in values:
        if v < 0:
            return v

print(first_negative([5, 6,-1, 9 , 10]))
print(first_negative([]))

-1
None

In [28]:
def first_negative(values):
    assert values != []  # Check if the input list is not empty
    for v in values:    # Iterate through each element in the list
        if v < 0:       # Check if the element is negative
            return v    # Return the first negative element

# Example usage:
result = first_negative([5, 6, -1, 9, 10])
print(result)  # Output: -1

result = first_negative([])  # Raises an AssertionError since the input list is empty

-1

AssertionError:

In [29]:
mylist = [] 
def first_negative(values):
    for v in values:
        if v >= 0:
            print('I am in this if statement block')
            continue
        else:
            mylist.append(v)
            break
            
    if len(mylist) == 1 : 
        return mylist
    else:
        return'There are no negatives'

In [30]:
first_negative([1,2,3,4])

I am in this if statement block
I am in this if statement block
I am in this if statement block
I am in this if statement block

'There are no negatives'

In [89]:
mylist

[-5]

## The point of (No) returns

In [101]:
def func_returns(): 
    print('hello')
    print('hello')
    print('hello')
    print('hello')
func_returns()

hello
hello
hello
hello

In [109]:
def func_returns(a): 
    if(a <= 5):
        return('hello')
    if(a >= 10):
        return('bye')

func_returns()

## Local/Global variables

In [115]:
b = 10
def math_ploy(x1):
    y = x1 + b 
    print(y)
    return y

print(math_ploy(5))
print(y)

15
15

NameError: name 'y' is not defined

In [129]:
var = 5
var2 =4

def func_type1():
    return 'hello'

def func_type2(var):
    print(var)

def func_type3(cat = var, dog = var2):
    print(cat -1)
    print(dog -1)

In [119]:
func_type1()

'hello'

In [123]:
func_type2(5)

5

In [130]:
func_type3(cat=10, dog = 6)

9
5

In [137]:
def a():
    return 5

def b(y):
    print('this is my nested function')
    
y = a()
print(y)
b(y)

5
this is my nested function

# --- in class code for python packages lesson --------------------

## IMPORTS

In [1]:
import math 
print('pi is ', math.pi)

pi is  3.141592653589793

In [4]:
math.cos(math.pi)

-1.0

In [5]:
from math import cos, pi
print(cos(pi))

-1.0

In [6]:
math.cos(math.pi)

-1.0

In [8]:
sin()

NameError: name 'sin' is not defined

In [148]:
import math as m
print(m.cos(m.pi))

-1.0

In [9]:
from math import cos, pi

sin(pi)

NameError: name 'sin' is not defined

In [153]:
sin(pi)

1.2246467991473532e-16

# NUMPY
## Arrays and more arrays
### Vectors

In [10]:
import numpy as np

In [13]:
a = np.array([1,2,3,4,5])
print(a)
type(a)

[1 2 3 4 5]

numpy.ndarray

In [16]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
type(a)

numpy.ndarray

In [20]:
#np.arange(start, stop, step)

np.arange(1, 11, 1)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [26]:
#np.linspace(start, stop, n_elements)
start = 0 
stop = 100 
n_elements = 201
x = np.linspace(start, stop, n_elements)
print(x)
len(x)

[  0.    0.5   1.    1.5   2.    2.5   3.    3.5   4.    4.5   5.    5.5
   6.    6.5   7.    7.5   8.    8.5   9.    9.5  10.   10.5  11.   11.5
  12.   12.5  13.   13.5  14.   14.5  15.   15.5  16.   16.5  17.   17.5
  18.   18.5  19.   19.5  20.   20.5  21.   21.5  22.   22.5  23.   23.5
  24.   24.5  25.   25.5  26.   26.5  27.   27.5  28.   28.5  29.   29.5
  30.   30.5  31.   31.5  32.   32.5  33.   33.5  34.   34.5  35.   35.5
  36.   36.5  37.   37.5  38.   38.5  39.   39.5  40.   40.5  41.   41.5
  42.   42.5  43.   43.5  44.   44.5  45.   45.5  46.   46.5  47.   47.5
  48.   48.5  49.   49.5  50.   50.5  51.   51.5  52.   52.5  53.   53.5
  54.   54.5  55.   55.5  56.   56.5  57.   57.5  58.   58.5  59.   59.5
  60.   60.5  61.   61.5  62.   62.5  63.   63.5  64.   64.5  65.   65.5
  66.   66.5  67.   67.5  68.   68.5  69.   69.5  70.   70.5  71.   71.5
  72.   72.5  73.   73.5  74.   74.5  75.   75.5  76.   76.5  77.   77.5
  78.   78.5  79.   79.5  80.   80.5  81.   81.5  82.   82.5  83.   83.5
  84.   84.5  85.   85.5  86.   86.5  87.   87.5  88.   88.5  89.   89.5
  90.   90.5  91.   91.5  92.   92.5  93.   93.5  94.   94.5  95.   95.5
  96.   96.5  97.   97.5  98.   98.5  99.   99.5 100. ]

201

In [28]:
x_5 = np.where(x %5 == 0)
print(x_5)
type(x_5)
#will return the indeces where in the x array it is divisible by 5

(array([  0,  10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120,
       130, 140, 150, 160, 170, 180, 190, 200]),)

tuple

In [27]:
x[x_5]

array([  0.,   5.,  10.,  15.,  20.,  25.,  30.,  35.,  40.,  45.,  50.,
        55.,  60.,  65.,  70.,  75.,  80.,  85.,  90.,  95., 100.])

In [36]:
start =0 
end = 100
n_elem = 501

x = np.linspace(start, end, n_elem)
print('x', x)
y = (.1*x)**2 - (5*x) + 3 
print('y', y)

np.savetxt('my_text_file.txt', np.transpose([x,y]))

x [  0.    0.2   0.4   0.6   0.8   1.    1.2   1.4   1.6   1.8   2.    2.2
   2.4   2.6   2.8   3.    3.2   3.4   3.6   3.8   4.    4.2   4.4   4.6
   4.8   5.    5.2   5.4   5.6   5.8   6.    6.2   6.4   6.6   6.8   7.
   7.2   7.4   7.6   7.8   8.    8.2   8.4   8.6   8.8   9.    9.2   9.4
   9.6   9.8  10.   10.2  10.4  10.6  10.8  11.   11.2  11.4  11.6  11.8
  12.   12.2  12.4  12.6  12.8  13.   13.2  13.4  13.6  13.8  14.   14.2
  14.4  14.6  14.8  15.   15.2  15.4  15.6  15.8  16.   16.2  16.4  16.6
  16.8  17.   17.2  17.4  17.6  17.8  18.   18.2  18.4  18.6  18.8  19.
  19.2  19.4  19.6  19.8  20.   20.2  20.4  20.6  20.8  21.   21.2  21.4
  21.6  21.8  22.   22.2  22.4  22.6  22.8  23.   23.2  23.4  23.6  23.8
  24.   24.2  24.4  24.6  24.8  25.   25.2  25.4  25.6  25.8  26.   26.2
  26.4  26.6  26.8  27.   27.2  27.4  27.6  27.8  28.   28.2  28.4  28.6
  28.8  29.   29.2  29.4  29.6  29.8  30.   30.2  30.4  30.6  30.8  31.
  31.2  31.4  31.6  31.8  32.   32.2  32.4  32.6  32.8  33.   33.2  33.4
  33.6  33.8  34.   34.2  34.4  34.6  34.8  35.   35.2  35.4  35.6  35.8
  36.   36.2  36.4  36.6  36.8  37.   37.2  37.4  37.6  37.8  38.   38.2
  38.4  38.6  38.8  39.   39.2  39.4  39.6  39.8  40.   40.2  40.4  40.6
  40.8  41.   41.2  41.4  41.6  41.8  42.   42.2  42.4  42.6  42.8  43.
  43.2  43.4  43.6  43.8  44.   44.2  44.4  44.6  44.8  45.   45.2  45.4
  45.6  45.8  46.   46.2  46.4  46.6  46.8  47.   47.2  47.4  47.6  47.8
  48.   48.2  48.4  48.6  48.8  49.   49.2  49.4  49.6  49.8  50.   50.2
  50.4  50.6  50.8  51.   51.2  51.4  51.6  51.8  52.   52.2  52.4  52.6
  52.8  53.   53.2  53.4  53.6  53.8  54.   54.2  54.4  54.6  54.8  55.
  55.2  55.4  55.6  55.8  56.   56.2  56.4  56.6  56.8  57.   57.2  57.4
  57.6  57.8  58.   58.2  58.4  58.6  58.8  59.   59.2  59.4  59.6  59.8
  60.   60.2  60.4  60.6  60.8  61.   61.2  61.4  61.6  61.8  62.   62.2
  62.4  62.6  62.8  63.   63.2  63.4  63.6  63.8  64.   64.2  64.4  64.6
  64.8  65.   65.2  65.4  65.6  65.8  66.   66.2  66.4  66.6  66.8  67.
  67.2  67.4  67.6  67.8  68.   68.2  68.4  68.6  68.8  69.   69.2  69.4
  69.6  69.8  70.   70.2  70.4  70.6  70.8  71.   71.2  71.4  71.6  71.8
  72.   72.2  72.4  72.6  72.8  73.   73.2  73.4  73.6  73.8  74.   74.2
  74.4  74.6  74.8  75.   75.2  75.4  75.6  75.8  76.   76.2  76.4  76.6
  76.8  77.   77.2  77.4  77.6  77.8  78.   78.2  78.4  78.6  78.8  79.
  79.2  79.4  79.6  79.8  80.   80.2  80.4  80.6  80.8  81.   81.2  81.4
  81.6  81.8  82.   82.2  82.4  82.6  82.8  83.   83.2  83.4  83.6  83.8
  84.   84.2  84.4  84.6  84.8  85.   85.2  85.4  85.6  85.8  86.   86.2
  86.4  86.6  86.8  87.   87.2  87.4  87.6  87.8  88.   88.2  88.4  88.6
  88.8  89.   89.2  89.4  89.6  89.8  90.   90.2  90.4  90.6  90.8  91.
  91.2  91.4  91.6  91.8  92.   92.2  92.4  92.6  92.8  93.   93.2  93.4
  93.6  93.8  94.   94.2  94.4  94.6  94.8  95.   95.2  95.4  95.6  95.8
  96.   96.2  96.4  96.6  96.8  97.   97.2  97.4  97.6  97.8  98.   98.2
  98.4  98.6  98.8  99.   99.2  99.4  99.6  99.8 100. ]
y [ 3.000000e+00  2.000400e+00  1.001600e+00  3.600000e-03 -9.936000e-01
 -1.990000e+00 -2.985600e+00 -3.980400e+00 -4.974400e+00 -5.967600e+00
 -6.960000e+00 -7.951600e+00 -8.942400e+00 -9.932400e+00 -1.092160e+01
 -1.191000e+01 -1.289760e+01 -1.388440e+01 -1.487040e+01 -1.585560e+01
 -1.684000e+01 -1.782360e+01 -1.880640e+01 -1.978840e+01 -2.076960e+01
 -2.175000e+01 -2.272960e+01 -2.370840e+01 -2.468640e+01 -2.566360e+01
 -2.664000e+01 -2.761560e+01 -2.859040e+01 -2.956440e+01 -3.053760e+01
 -3.151000e+01 -3.248160e+01 -3.345240e+01 -3.442240e+01 -3.539160e+01
 -3.636000e+01 -3.732760e+01 -3.829440e+01 -3.926040e+01 -4.022560e+01
 -4.119000e+01 -4.215360e+01 -4.311640e+01 -4.407840e+01 -4.503960e+01
 -4.600000e+01 -4.695960e+01 -4.791840e+01 -4.887640e+01 -4.983360e+01
 -5.079000e+01 -5.174560e+01 -5.270040e+01 -5.365440e+01 -5.460760e+01
 -5.556000e+01 -5.651160e+01 -5.746240e+01 -5.841240e+01 -5.936160e+01
 -6.031000e+01 -6.125760e+01 -6.220440e+01 -6.315040e+01 -6.409560e+01
 -6.504000e+01 -6.598360e+01 -6.692640e+01 -6.786840e+01 -6.880960e+01
 -6.975000e+01 -7.068960e+01 -7.162840e+01 -7.256640e+01 -7.350360e+01
 -7.444000e+01 -7.537560e+01 -7.631040e+01 -7.724440e+01 -7.817760e+01
 -7.911000e+01 -8.004160e+01 -8.097240e+01 -8.190240e+01 -8.283160e+01
 -8.376000e+01 -8.468760e+01 -8.561440e+01 -8.654040e+01 -8.746560e+01
 -8.839000e+01 -8.931360e+01 -9.023640e+01 -9.115840e+01 -9.207960e+01
 -9.300000e+01 -9.391960e+01 -9.483840e+01 -9.575640e+01 -9.667360e+01
 -9.759000e+01 -9.850560e+01 -9.942040e+01 -1.003344e+02 -1.012476e+02
 -1.021600e+02 -1.030716e+02 -1.039824e+02 -1.048924e+02 -1.058016e+02
 -1.067100e+02 -1.076176e+02 -1.085244e+02 -1.094304e+02 -1.103356e+02
 -1.112400e+02 -1.121436e+02 -1.130464e+02 -1.139484e+02 -1.148496e+02
 -1.157500e+02 -1.166496e+02 -1.175484e+02 -1.184464e+02 -1.193436e+02
 -1.202400e+02 -1.211356e+02 -1.220304e+02 -1.229244e+02 -1.238176e+02
 -1.247100e+02 -1.256016e+02 -1.264924e+02 -1.273824e+02 -1.282716e+02
 -1.291600e+02 -1.300476e+02 -1.309344e+02 -1.318204e+02 -1.327056e+02
 -1.335900e+02 -1.344736e+02 -1.353564e+02 -1.362384e+02 -1.371196e+02
 -1.380000e+02 -1.388796e+02 -1.397584e+02 -1.406364e+02 -1.415136e+02
 -1.423900e+02 -1.432656e+02 -1.441404e+02 -1.450144e+02 -1.458876e+02
 -1.467600e+02 -1.476316e+02 -1.485024e+02 -1.493724e+02 -1.502416e+02
 -1.511100e+02 -1.519776e+02 -1.528444e+02 -1.537104e+02 -1.545756e+02
 -1.554400e+02 -1.563036e+02 -1.571664e+02 -1.580284e+02 -1.588896e+02
 -1.597500e+02 -1.606096e+02 -1.614684e+02 -1.623264e+02 -1.631836e+02
 -1.640400e+02 -1.648956e+02 -1.657504e+02 -1.666044e+02 -1.674576e+02
 -1.683100e+02 -1.691616e+02 -1.700124e+02 -1.708624e+02 -1.717116e+02
 -1.725600e+02 -1.734076e+02 -1.742544e+02 -1.751004e+02 -1.759456e+02
 -1.767900e+02 -1.776336e+02 -1.784764e+02 -1.793184e+02 -1.801596e+02
 -1.810000e+02 -1.818396e+02 -1.826784e+02 -1.835164e+02 -1.843536e+02
 -1.851900e+02 -1.860256e+02 -1.868604e+02 -1.876944e+02 -1.885276e+02
 -1.893600e+02 -1.901916e+02 -1.910224e+02 -1.918524e+02 -1.926816e+02
 -1.935100e+02 -1.943376e+02 -1.951644e+02 -1.959904e+02 -1.968156e+02
 -1.976400e+02 -1.984636e+02 -1.992864e+02 -2.001084e+02 -2.009296e+02
 -2.017500e+02 -2.025696e+02 -2.033884e+02 -2.042064e+02 -2.050236e+02
 -2.058400e+02 -2.066556e+02 -2.074704e+02 -2.082844e+02 -2.090976e+02
 -2.099100e+02 -2.107216e+02 -2.115324e+02 -2.123424e+02 -2.131516e+02
 -2.139600e+02 -2.147676e+02 -2.155744e+02 -2.163804e+02 -2.171856e+02
 -2.179900e+02 -2.187936e+02 -2.195964e+02 -2.203984e+02 -2.211996e+02
 -2.220000e+02 -2.227996e+02 -2.235984e+02 -2.243964e+02 -2.251936e+02
 -2.259900e+02 -2.267856e+02 -2.275804e+02 -2.283744e+02 -2.291676e+02
 -2.299600e+02 -2.307516e+02 -2.315424e+02 -2.323324e+02 -2.331216e+02
 -2.339100e+02 -2.346976e+02 -2.354844e+02 -2.362704e+02 -2.370556e+02
 -2.378400e+02 -2.386236e+02 -2.394064e+02 -2.401884e+02 -2.409696e+02
 -2.417500e+02 -2.425296e+02 -2.433084e+02 -2.440864e+02 -2.448636e+02
 -2.456400e+02 -2.464156e+02 -2.471904e+02 -2.479644e+02 -2.487376e+02
 -2.495100e+02 -2.502816e+02 -2.510524e+02 -2.518224e+02 -2.525916e+02
 -2.533600e+02 -2.541276e+02 -2.548944e+02 -2.556604e+02 -2.564256e+02
 -2.571900e+02 -2.579536e+02 -2.587164e+02 -2.594784e+02 -2.602396e+02
 -2.610000e+02 -2.617596e+02 -2.625184e+02 -2.632764e+02 -2.640336e+02
 -2.647900e+02 -2.655456e+02 -2.663004e+02 -2.670544e+02 -2.678076e+02
 -2.685600e+02 -2.693116e+02 -2.700624e+02 -2.708124e+02 -2.715616e+02
 -2.723100e+02 -2.730576e+02 -2.738044e+02 -2.745504e+02 -2.752956e+02
 -2.760400e+02 -2.767836e+02 -2.775264e+02 -2.782684e+02 -2.790096e+02
 -2.797500e+02 -2.804896e+02 -2.812284e+02 -2.819664e+02 -2.827036e+02
 -2.834400e+02 -2.841756e+02 -2.849104e+02 -2.856444e+02 -2.863776e+02
 -2.871100e+02 -2.878416e+02 -2.885724e+02 -2.893024e+02 -2.900316e+02
 -2.907600e+02 -2.914876e+02 -2.922144e+02 -2.929404e+02 -2.936656e+02
 -2.943900e+02 -2.951136e+02 -2.958364e+02 -2.965584e+02 -2.972796e+02
 -2.980000e+02 -2.987196e+02 -2.994384e+02 -3.001564e+02 -3.008736e+02
 -3.015900e+02 -3.023056e+02 -3.030204e+02 -3.037344e+02 -3.044476e+02
 -3.051600e+02 -3.058716e+02 -3.065824e+02 -3.072924e+02 -3.080016e+02
 -3.087100e+02 -3.094176e+02 -3.101244e+02 -3.108304e+02 -3.115356e+02
 -3.122400e+02 -3.129436e+02 -3.136464e+02 -3.143484e+02 -3.150496e+02
 -3.157500e+02 -3.164496e+02 -3.171484e+02 -3.178464e+02 -3.185436e+02
 -3.192400e+02 -3.199356e+02 -3.206304e+02 -3.213244e+02 -3.220176e+02
 -3.227100e+02 -3.234016e+02 -3.240924e+02 -3.247824e+02 -3.254716e+02
 -3.261600e+02 -3.268476e+02 -3.275344e+02 -3.282204e+02 -3.289056e+02
 -3.295900e+02 -3.302736e+02 -3.309564e+02 -3.316384e+02 -3.323196e+02
 -3.330000e+02 -3.336796e+02 -3.343584e+02 -3.350364e+02 -3.357136e+02
 -3.363900e+02 -3.370656e+02 -3.377404e+02 -3.384144e+02 -3.390876e+02
 -3.397600e+02 -3.404316e+02 -3.411024e+02 -3.417724e+02 -3.424416e+02
 -3.431100e+02 -3.437776e+02 -3.444444e+02 -3.451104e+02 -3.457756e+02
 -3.464400e+02 -3.471036e+02 -3.477664e+02 -3.484284e+02 -3.490896e+02
 -3.497500e+02 -3.504096e+02 -3.510684e+02 -3.517264e+02 -3.523836e+02
 -3.530400e+02 -3.536956e+02 -3.543504e+02 -3.550044e+02 -3.556576e+02
 -3.563100e+02 -3.569616e+02 -3.576124e+02 -3.582624e+02 -3.589116e+02
 -3.595600e+02 -3.602076e+02 -3.608544e+02 -3.615004e+02 -3.621456e+02
 -3.627900e+02 -3.634336e+02 -3.640764e+02 -3.647184e+02 -3.653596e+02
 -3.660000e+02 -3.666396e+02 -3.672784e+02 -3.679164e+02 -3.685536e+02
 -3.691900e+02 -3.698256e+02 -3.704604e+02 -3.710944e+02 -3.717276e+02
 -3.723600e+02 -3.729916e+02 -3.736224e+02 -3.742524e+02 -3.748816e+02
 -3.755100e+02 -3.761376e+02 -3.767644e+02 -3.773904e+02 -3.780156e+02
 -3.786400e+02 -3.792636e+02 -3.798864e+02 -3.805084e+02 -3.811296e+02
 -3.817500e+02 -3.823696e+02 -3.829884e+02 -3.836064e+02 -3.842236e+02
 -3.848400e+02 -3.854556e+02 -3.860704e+02 -3.866844e+02 -3.872976e+02
 -3.879100e+02 -3.885216e+02 -3.891324e+02 -3.897424e+02 -3.903516e+02
 -3.909600e+02 -3.915676e+02 -3.921744e+02 -3.927804e+02 -3.933856e+02
 -3.939900e+02 -3.945936e+02 -3.951964e+02 -3.957984e+02 -3.963996e+02
 -3.970000e+02]

In [115]:
pwd

'/Users/carrile/Downloads'

In [37]:
data = np.loadtxt('my_text_file.txt')
#data = np.loadtxt('..\my_text_file.txt') # For windows path 


print(data)

[[ 0.000000e+00  3.000000e+00]
 [ 2.000000e-01  2.000400e+00]
 [ 4.000000e-01  1.001600e+00]
 ...
 [ 9.960000e+01 -3.957984e+02]
 [ 9.980000e+01 -3.963996e+02]
 [ 1.000000e+02 -3.970000e+02]]

In [38]:
!head my_text_file.txt

0.000000000000000000e+00 3.000000000000000000e+00
2.000000000000000111e-01 2.000399999999999956e+00
4.000000000000000222e-01 1.001600000000000046e+00
6.000000000000000888e-01 3.599999999999603517e-03
8.000000000000000444e-01 -9.935999999999998167e-01
1.000000000000000000e+00 -1.990000000000000213e+00
1.200000000000000178e+00 -2.985600000000000698e+00
1.400000000000000133e+00 -3.980400000000001270e+00
1.600000000000000089e+00 -4.974400000000000155e+00
1.800000000000000044e+00 -5.967599999999999127e+00

In [39]:
data[0]

array([0., 3.])

In [38]:
#All rows, first column
data[:,0]

array([  0. ,   0.2,   0.4,   0.6,   0.8,   1. ,   1.2,   1.4,   1.6,
         1.8,   2. ,   2.2,   2.4,   2.6,   2.8,   3. ,   3.2,   3.4,
         3.6,   3.8,   4. ,   4.2,   4.4,   4.6,   4.8,   5. ,   5.2,
         5.4,   5.6,   5.8,   6. ,   6.2,   6.4,   6.6,   6.8,   7. ,
         7.2,   7.4,   7.6,   7.8,   8. ,   8.2,   8.4,   8.6,   8.8,
         9. ,   9.2,   9.4,   9.6,   9.8,  10. ,  10.2,  10.4,  10.6,
        10.8,  11. ,  11.2,  11.4,  11.6,  11.8,  12. ,  12.2,  12.4,
        12.6,  12.8,  13. ,  13.2,  13.4,  13.6,  13.8,  14. ,  14.2,
        14.4,  14.6,  14.8,  15. ,  15.2,  15.4,  15.6,  15.8,  16. ,
        16.2,  16.4,  16.6,  16.8,  17. ,  17.2,  17.4,  17.6,  17.8,
        18. ,  18.2,  18.4,  18.6,  18.8,  19. ,  19.2,  19.4,  19.6,
        19.8,  20. ,  20.2,  20.4,  20.6,  20.8,  21. ,  21.2,  21.4,
        21.6,  21.8,  22. ,  22.2,  22.4,  22.6,  22.8,  23. ,  23.2,
        23.4,  23.6,  23.8,  24. ,  24.2,  24.4,  24.6,  24.8,  25. ,
        25.2,  25.4,  25.6,  25.8,  26. ,  26.2,  26.4,  26.6,  26.8,
        27. ,  27.2,  27.4,  27.6,  27.8,  28. ,  28.2,  28.4,  28.6,
        28.8,  29. ,  29.2,  29.4,  29.6,  29.8,  30. ,  30.2,  30.4,
        30.6,  30.8,  31. ,  31.2,  31.4,  31.6,  31.8,  32. ,  32.2,
        32.4,  32.6,  32.8,  33. ,  33.2,  33.4,  33.6,  33.8,  34. ,
        34.2,  34.4,  34.6,  34.8,  35. ,  35.2,  35.4,  35.6,  35.8,
        36. ,  36.2,  36.4,  36.6,  36.8,  37. ,  37.2,  37.4,  37.6,
        37.8,  38. ,  38.2,  38.4,  38.6,  38.8,  39. ,  39.2,  39.4,
        39.6,  39.8,  40. ,  40.2,  40.4,  40.6,  40.8,  41. ,  41.2,
        41.4,  41.6,  41.8,  42. ,  42.2,  42.4,  42.6,  42.8,  43. ,
        43.2,  43.4,  43.6,  43.8,  44. ,  44.2,  44.4,  44.6,  44.8,
        45. ,  45.2,  45.4,  45.6,  45.8,  46. ,  46.2,  46.4,  46.6,
        46.8,  47. ,  47.2,  47.4,  47.6,  47.8,  48. ,  48.2,  48.4,
        48.6,  48.8,  49. ,  49.2,  49.4,  49.6,  49.8,  50. ,  50.2,
        50.4,  50.6,  50.8,  51. ,  51.2,  51.4,  51.6,  51.8,  52. ,
        52.2,  52.4,  52.6,  52.8,  53. ,  53.2,  53.4,  53.6,  53.8,
        54. ,  54.2,  54.4,  54.6,  54.8,  55. ,  55.2,  55.4,  55.6,
        55.8,  56. ,  56.2,  56.4,  56.6,  56.8,  57. ,  57.2,  57.4,
        57.6,  57.8,  58. ,  58.2,  58.4,  58.6,  58.8,  59. ,  59.2,
        59.4,  59.6,  59.8,  60. ,  60.2,  60.4,  60.6,  60.8,  61. ,
        61.2,  61.4,  61.6,  61.8,  62. ,  62.2,  62.4,  62.6,  62.8,
        63. ,  63.2,  63.4,  63.6,  63.8,  64. ,  64.2,  64.4,  64.6,
        64.8,  65. ,  65.2,  65.4,  65.6,  65.8,  66. ,  66.2,  66.4,
        66.6,  66.8,  67. ,  67.2,  67.4,  67.6,  67.8,  68. ,  68.2,
        68.4,  68.6,  68.8,  69. ,  69.2,  69.4,  69.6,  69.8,  70. ,
        70.2,  70.4,  70.6,  70.8,  71. ,  71.2,  71.4,  71.6,  71.8,
        72. ,  72.2,  72.4,  72.6,  72.8,  73. ,  73.2,  73.4,  73.6,
        73.8,  74. ,  74.2,  74.4,  74.6,  74.8,  75. ,  75.2,  75.4,
        75.6,  75.8,  76. ,  76.2,  76.4,  76.6,  76.8,  77. ,  77.2,
        77.4,  77.6,  77.8,  78. ,  78.2,  78.4,  78.6,  78.8,  79. ,
        79.2,  79.4,  79.6,  79.8,  80. ,  80.2,  80.4,  80.6,  80.8,
        81. ,  81.2,  81.4,  81.6,  81.8,  82. ,  82.2,  82.4,  82.6,
        82.8,  83. ,  83.2,  83.4,  83.6,  83.8,  84. ,  84.2,  84.4,
        84.6,  84.8,  85. ,  85.2,  85.4,  85.6,  85.8,  86. ,  86.2,
        86.4,  86.6,  86.8,  87. ,  87.2,  87.4,  87.6,  87.8,  88. ,
        88.2,  88.4,  88.6,  88.8,  89. ,  89.2,  89.4,  89.6,  89.8,
        90. ,  90.2,  90.4,  90.6,  90.8,  91. ,  91.2,  91.4,  91.6,
        91.8,  92. ,  92.2,  92.4,  92.6,  92.8,  93. ,  93.2,  93.4,
        93.6,  93.8,  94. ,  94.2,  94.4,  94.6,  94.8,  95. ,  95.2,
        95.4,  95.6,  95.8,  96. ,  96.2,  96.4,  96.6,  96.8,  97. ,
        97.2,  97.4,  97.6,  97.8,  98. ,  98.2,  98.4,  98.6,  98.8,
        99. ,  99.2,  99.4,  99.6,  99.8, 100. ])

In [40]:
#All rows, second column
data[:,1]

array([ 3.000000e+00,  2.000400e+00,  1.001600e+00,  3.600000e-03,
       -9.936000e-01, -1.990000e+00, -2.985600e+00, -3.980400e+00,
       -4.974400e+00, -5.967600e+00, -6.960000e+00, -7.951600e+00,
       -8.942400e+00, -9.932400e+00, -1.092160e+01, -1.191000e+01,
       -1.289760e+01, -1.388440e+01, -1.487040e+01, -1.585560e+01,
       -1.684000e+01, -1.782360e+01, -1.880640e+01, -1.978840e+01,
       -2.076960e+01, -2.175000e+01, -2.272960e+01, -2.370840e+01,
       -2.468640e+01, -2.566360e+01, -2.664000e+01, -2.761560e+01,
       -2.859040e+01, -2.956440e+01, -3.053760e+01, -3.151000e+01,
       -3.248160e+01, -3.345240e+01, -3.442240e+01, -3.539160e+01,
       -3.636000e+01, -3.732760e+01, -3.829440e+01, -3.926040e+01,
       -4.022560e+01, -4.119000e+01, -4.215360e+01, -4.311640e+01,
       -4.407840e+01, -4.503960e+01, -4.600000e+01, -4.695960e+01,
       -4.791840e+01, -4.887640e+01, -4.983360e+01, -5.079000e+01,
       -5.174560e+01, -5.270040e+01, -5.365440e+01, -5.460760e+01,
       -5.556000e+01, -5.651160e+01, -5.746240e+01, -5.841240e+01,
       -5.936160e+01, -6.031000e+01, -6.125760e+01, -6.220440e+01,
       -6.315040e+01, -6.409560e+01, -6.504000e+01, -6.598360e+01,
       -6.692640e+01, -6.786840e+01, -6.880960e+01, -6.975000e+01,
       -7.068960e+01, -7.162840e+01, -7.256640e+01, -7.350360e+01,
       -7.444000e+01, -7.537560e+01, -7.631040e+01, -7.724440e+01,
       -7.817760e+01, -7.911000e+01, -8.004160e+01, -8.097240e+01,
       -8.190240e+01, -8.283160e+01, -8.376000e+01, -8.468760e+01,
       -8.561440e+01, -8.654040e+01, -8.746560e+01, -8.839000e+01,
       -8.931360e+01, -9.023640e+01, -9.115840e+01, -9.207960e+01,
       -9.300000e+01, -9.391960e+01, -9.483840e+01, -9.575640e+01,
       -9.667360e+01, -9.759000e+01, -9.850560e+01, -9.942040e+01,
       -1.003344e+02, -1.012476e+02, -1.021600e+02, -1.030716e+02,
       -1.039824e+02, -1.048924e+02, -1.058016e+02, -1.067100e+02,
       -1.076176e+02, -1.085244e+02, -1.094304e+02, -1.103356e+02,
       -1.112400e+02, -1.121436e+02, -1.130464e+02, -1.139484e+02,
       -1.148496e+02, -1.157500e+02, -1.166496e+02, -1.175484e+02,
       -1.184464e+02, -1.193436e+02, -1.202400e+02, -1.211356e+02,
       -1.220304e+02, -1.229244e+02, -1.238176e+02, -1.247100e+02,
       -1.256016e+02, -1.264924e+02, -1.273824e+02, -1.282716e+02,
       -1.291600e+02, -1.300476e+02, -1.309344e+02, -1.318204e+02,
       -1.327056e+02, -1.335900e+02, -1.344736e+02, -1.353564e+02,
       -1.362384e+02, -1.371196e+02, -1.380000e+02, -1.388796e+02,
       -1.397584e+02, -1.406364e+02, -1.415136e+02, -1.423900e+02,
       -1.432656e+02, -1.441404e+02, -1.450144e+02, -1.458876e+02,
       -1.467600e+02, -1.476316e+02, -1.485024e+02, -1.493724e+02,
       -1.502416e+02, -1.511100e+02, -1.519776e+02, -1.528444e+02,
       -1.537104e+02, -1.545756e+02, -1.554400e+02, -1.563036e+02,
       -1.571664e+02, -1.580284e+02, -1.588896e+02, -1.597500e+02,
       -1.606096e+02, -1.614684e+02, -1.623264e+02, -1.631836e+02,
       -1.640400e+02, -1.648956e+02, -1.657504e+02, -1.666044e+02,
       -1.674576e+02, -1.683100e+02, -1.691616e+02, -1.700124e+02,
       -1.708624e+02, -1.717116e+02, -1.725600e+02, -1.734076e+02,
       -1.742544e+02, -1.751004e+02, -1.759456e+02, -1.767900e+02,
       -1.776336e+02, -1.784764e+02, -1.793184e+02, -1.801596e+02,
       -1.810000e+02, -1.818396e+02, -1.826784e+02, -1.835164e+02,
       -1.843536e+02, -1.851900e+02, -1.860256e+02, -1.868604e+02,
       -1.876944e+02, -1.885276e+02, -1.893600e+02, -1.901916e+02,
       -1.910224e+02, -1.918524e+02, -1.926816e+02, -1.935100e+02,
       -1.943376e+02, -1.951644e+02, -1.959904e+02, -1.968156e+02,
       -1.976400e+02, -1.984636e+02, -1.992864e+02, -2.001084e+02,
       -2.009296e+02, -2.017500e+02, -2.025696e+02, -2.033884e+02,
       -2.042064e+02, -2.050236e+02, -2.058400e+02, -2.066556e+02,
       -2.074704e+02, -2.082844e+02, -2.090976e+02, -2.099100e+02,
       -2.107216e+02, -2.115324e+02, -2.123424e+02, -2.131516e+02,
       -2.139600e+02, -2.147676e+02, -2.155744e+02, -2.163804e+02,
       -2.171856e+02, -2.179900e+02, -2.187936e+02, -2.195964e+02,
       -2.203984e+02, -2.211996e+02, -2.220000e+02, -2.227996e+02,
       -2.235984e+02, -2.243964e+02, -2.251936e+02, -2.259900e+02,
       -2.267856e+02, -2.275804e+02, -2.283744e+02, -2.291676e+02,
       -2.299600e+02, -2.307516e+02, -2.315424e+02, -2.323324e+02,
       -2.331216e+02, -2.339100e+02, -2.346976e+02, -2.354844e+02,
       -2.362704e+02, -2.370556e+02, -2.378400e+02, -2.386236e+02,
       -2.394064e+02, -2.401884e+02, -2.409696e+02, -2.417500e+02,
       -2.425296e+02, -2.433084e+02, -2.440864e+02, -2.448636e+02,
       -2.456400e+02, -2.464156e+02, -2.471904e+02, -2.479644e+02,
       -2.487376e+02, -2.495100e+02, -2.502816e+02, -2.510524e+02,
       -2.518224e+02, -2.525916e+02, -2.533600e+02, -2.541276e+02,
       -2.548944e+02, -2.556604e+02, -2.564256e+02, -2.571900e+02,
       -2.579536e+02, -2.587164e+02, -2.594784e+02, -2.602396e+02,
       -2.610000e+02, -2.617596e+02, -2.625184e+02, -2.632764e+02,
       -2.640336e+02, -2.647900e+02, -2.655456e+02, -2.663004e+02,
       -2.670544e+02, -2.678076e+02, -2.685600e+02, -2.693116e+02,
       -2.700624e+02, -2.708124e+02, -2.715616e+02, -2.723100e+02,
       -2.730576e+02, -2.738044e+02, -2.745504e+02, -2.752956e+02,
       -2.760400e+02, -2.767836e+02, -2.775264e+02, -2.782684e+02,
       -2.790096e+02, -2.797500e+02, -2.804896e+02, -2.812284e+02,
       -2.819664e+02, -2.827036e+02, -2.834400e+02, -2.841756e+02,
       -2.849104e+02, -2.856444e+02, -2.863776e+02, -2.871100e+02,
       -2.878416e+02, -2.885724e+02, -2.893024e+02, -2.900316e+02,
       -2.907600e+02, -2.914876e+02, -2.922144e+02, -2.929404e+02,
       -2.936656e+02, -2.943900e+02, -2.951136e+02, -2.958364e+02,
       -2.965584e+02, -2.972796e+02, -2.980000e+02, -2.987196e+02,
       -2.994384e+02, -3.001564e+02, -3.008736e+02, -3.015900e+02,
       -3.023056e+02, -3.030204e+02, -3.037344e+02, -3.044476e+02,
       -3.051600e+02, -3.058716e+02, -3.065824e+02, -3.072924e+02,
       -3.080016e+02, -3.087100e+02, -3.094176e+02, -3.101244e+02,
       -3.108304e+02, -3.115356e+02, -3.122400e+02, -3.129436e+02,
       -3.136464e+02, -3.143484e+02, -3.150496e+02, -3.157500e+02,
       -3.164496e+02, -3.171484e+02, -3.178464e+02, -3.185436e+02,
       -3.192400e+02, -3.199356e+02, -3.206304e+02, -3.213244e+02,
       -3.220176e+02, -3.227100e+02, -3.234016e+02, -3.240924e+02,
       -3.247824e+02, -3.254716e+02, -3.261600e+02, -3.268476e+02,
       -3.275344e+02, -3.282204e+02, -3.289056e+02, -3.295900e+02,
       -3.302736e+02, -3.309564e+02, -3.316384e+02, -3.323196e+02,
       -3.330000e+02, -3.336796e+02, -3.343584e+02, -3.350364e+02,
       -3.357136e+02, -3.363900e+02, -3.370656e+02, -3.377404e+02,
       -3.384144e+02, -3.390876e+02, -3.397600e+02, -3.404316e+02,
       -3.411024e+02, -3.417724e+02, -3.424416e+02, -3.431100e+02,
       -3.437776e+02, -3.444444e+02, -3.451104e+02, -3.457756e+02,
       -3.464400e+02, -3.471036e+02, -3.477664e+02, -3.484284e+02,
       -3.490896e+02, -3.497500e+02, -3.504096e+02, -3.510684e+02,
       -3.517264e+02, -3.523836e+02, -3.530400e+02, -3.536956e+02,
       -3.543504e+02, -3.550044e+02, -3.556576e+02, -3.563100e+02,
       -3.569616e+02, -3.576124e+02, -3.582624e+02, -3.589116e+02,
       -3.595600e+02, -3.602076e+02, -3.608544e+02, -3.615004e+02,
       -3.621456e+02, -3.627900e+02, -3.634336e+02, -3.640764e+02,
       -3.647184e+02, -3.653596e+02, -3.660000e+02, -3.666396e+02,
       -3.672784e+02, -3.679164e+02, -3.685536e+02, -3.691900e+02,
       -3.698256e+02, -3.704604e+02, -3.710944e+02, -3.717276e+02,
       -3.723600e+02, -3.729916e+02, -3.736224e+02, -3.742524e+02,
       -3.748816e+02, -3.755100e+02, -3.761376e+02, -3.767644e+02,
       -3.773904e+02, -3.780156e+02, -3.786400e+02, -3.792636e+02,
       -3.798864e+02, -3.805084e+02, -3.811296e+02, -3.817500e+02,
       -3.823696e+02, -3.829884e+02, -3.836064e+02, -3.842236e+02,
       -3.848400e+02, -3.854556e+02, -3.860704e+02, -3.866844e+02,
       -3.872976e+02, -3.879100e+02, -3.885216e+02, -3.891324e+02,
       -3.897424e+02, -3.903516e+02, -3.909600e+02, -3.915676e+02,
       -3.921744e+02, -3.927804e+02, -3.933856e+02, -3.939900e+02,
       -3.945936e+02, -3.951964e+02, -3.957984e+02, -3.963996e+02,
       -3.970000e+02])

In [45]:
a = np.empty(4)
a.fill(5.5)
a

array([5.5, 5.5, 5.5, 5.5])

In [46]:
np.arange(5)

array([0, 1, 2, 3, 4])

In [48]:
b = np.random.normal(10,3,5)
b

array([ 5.21504731,  9.33161611,  7.82804446, 13.43441166, 14.88559031])

In [49]:
mask = b > 9

In [50]:
mask

array([False,  True, False,  True,  True])

In [51]:
b[mask]

array([ 9.33161611, 13.43441166, 14.88559031])

In [52]:
b[mask] = 0

In [53]:
b

array([5.21504731, 0.        , 7.82804446, 0.        , 0.        ])

In [55]:
c = np.random.normal(10,3, (2,4))
c

array([[12.13497155, 11.88190856,  6.23317578, 12.41081666],
       [16.14427092, 10.70031063, 10.39910172,  9.10741824]])

In [59]:
c.shape

(2, 4)

In [60]:
c.sum()

89.01197405930381

In [61]:
c.sum(axis=0)

array([28.27924247, 22.58221919, 16.6322775 , 21.5182349 ])

In [62]:
c

array([[12.13497155, 11.88190856,  6.23317578, 12.41081666],
       [16.14427092, 10.70031063, 10.39910172,  9.10741824]])

In [63]:
c[0,:]

array([12.13497155, 11.88190856,  6.23317578, 12.41081666])

In [64]:
c[1,:]

array([16.14427092, 10.70031063, 10.39910172,  9.10741824])

In [65]:
c[:,0]

array([12.13497155, 16.14427092])

In [66]:
c.flatten()

array([12.13497155, 11.88190856,  6.23317578, 12.41081666, 16.14427092,
       10.70031063, 10.39910172,  9.10741824])

In [68]:
np.array2string(np.array(['hello', 'lunch']))

"['hello' 'lunch']"

# PANDAS
## DataFrames

In [70]:
import pandas as pd

In [72]:
data = pd.read_csv('../Python/gapminder_data/data/gapminder_gdp_oceania.csv')

In [77]:
data.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
mean,10298.085650,11598.522455,12696.452430,14495.021790,16417.33338,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,26938.778040,29810.188275
std,365.560078,917.644806,677.727301,43.986086,525.09198,1485.263517,1304.328377,2037.668013,3578.979883,4205.533703,5301.853680,6540.991104
min,10039.595640,10949.649590,12217.226860,14463.918930,16046.03728,16233.717700,17632.410400,19007.191290,18363.324940,21050.413770,23189.801350,25185.009110
25%,10168.840645,11274.086022,12456.839645,14479.470360,16231.68533,16758.837652,18093.560120,19727.615725,19628.685412,22537.294470,25064.289695,27497.598692
50%,10298.085650,11598.522455,12696.452430,14495.021790,16417.33338,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,26938.778040,29810.188275
75%,10427.330655,11922.958888,12936.065215,14510.573220,16602.98143,17809.077558,19015.859560,21168.464595,22159.406358,25511.055870,28813.266385,32122.777858
max,10556.575660,12247.395320,13175.678000,14526.124650,16788.62948,18334.197510,19477.009280,21888.889030,23424.766830,26997.936570,30687.754730,34435.367440

In [78]:
data

,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
1,New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

In [45]:
! ls \gapminder_data

gapminder_all.csv          gapminder_gdp_asia.csv
gapminder_gdp_africa.csv   gapminder_gdp_europe.csv
gapminder_gdp_americas.csv gapminder_gdp_oceania.csv

In [47]:
import pandas as pd
americas = pd.read_csv('gapminder_data/gapminder_gdp_americas.csv')
americas.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,4079.062552,4616.043733,4901.541870,5668.253496,6491.334139,7352.007126,7506.737088,7793.400261,8044.934406,8889.300863,9287.677107,11003.031625
std,3001.727522,3312.381083,3421.740569,4160.885560,4754.404329,5355.602518,5530.490471,6665.039509,7047.089191,7874.225145,8895.817785,9713.209302
min,1397.717137,1544.402995,1662.137359,1452.057666,1654.456946,1874.298931,2011.159549,1823.015995,1456.309517,1341.726931,1270.364932,1201.637154
25%,2428.237769,2487.365989,2750.364446,3242.531147,4031.408271,4756.763836,4258.503604,4140.442097,4439.450840,4684.313807,4858.347495,5728.353514
50%,3048.302900,3780.546651,4086.114078,4643.393534,5305.445256,6281.290855,6434.501797,6360.943444,6618.743050,7113.692252,6994.774861,8948.102923
75%,3939.978789,4756.525781,5180.755910,5788.093330,6809.406690,7674.929108,8997.897412,7807.095818,8137.004775,9767.297530,8797.640716,11977.574960
max,13990.482080,14847.127120,16173.145860,19530.365570,21806.035940,24072.632130,25009.559140,29884.350410,32003.932240,35767.433030,39097.099550,42951.653090

In [83]:
df_c = pd.DataFrame(c)

In [84]:
df_c.describe()

               0          1          2          3
count   2.000000   2.000000   2.000000   2.000000
mean   14.139621  11.291110   8.316139  10.759117
std     2.835003   0.835516   2.945754   2.335855
min    12.134972  10.700311   6.233176   9.107418
25%    13.137296  10.995710   7.274657   9.933268
50%    14.139621  11.291110   8.316139  10.759117
75%    15.141946  11.586509   9.357620  11.584967
max    16.144271  11.881909  10.399102  12.410817

# ---- In class assignment  ---------------------------------------------------------

Feel free to work indepedently or collaborate with your peers

### (1) Complete/debug the script below, 1D laminar flow


This code is implementing a 1D fluid flow simulation using the 1D Burgers' equation, which is a simplified model for fluid dynamics. The simulation aims to model the behavior of a fluid as it flows along a 1D spatial domain.


The 1D Burgers' equation is given by:

$\dfrac{\partial u}{\partial t}+ u \dfrac{\partial u}{\partial x} = \mu \dfrac{\partial^2 u}{\partial x^2}$


where:
- $u$ is the velocity of the fluid as a function of position (x) and time (t),
- $\dfrac{\partial u}{\partial t}$ is the partial derivative of u with respect to time (time rate of change of velocity),
- $\dfrac{\partial u}{\partial x}$ is the partial derivative of u with respect to position (advection term representing the change in velocity with position),
- $\dfrac{\partial^2 u}{\partial x^2}$ is the second partial derivative of u with respect to position (diffusion term representing the spatial spreading of the velocity),
- $\mu$ is the fluid viscosity, which determines the strength of the diffusion term.

The simulation includes the advection ($u \dfrac{\partial u}{\partial x}$) and diffusion ($ \mu \dfrac{\partial^2 u}{\partial x^2} $) of average velocity in the fluid flow, providing a simple model for understanding the behavior of fluids in 1D.

In [44]:
import numpy as np
import matplotlib.pyplot as plt

# Parameters
num_points = 100    # Number of points in the simulation grid
num_steps = 1000    # Number of time steps
delta_x = 1.0       # Spatial step size
delta_t = 0.01      # Time step size
viscosity = .1     # Fluid viscosity

# Initialize the grid with a sine wave as the initial velocity profile
x = np.linspace(0, num_points * delta_x, num_points)
u = np.sin(2 * np.pi * x / (num_points * delta_x))

# Function to update the grid using Burgers' equation
def update_grid(u, viscosity, delta_t, delta_x):
    u_new = np.copy(u)
    for i in range(1, num_points - 1):
        du_dx = (u[i + 1] - u[i - 1]) / (2 * delta_x)
        d2u_dx2 = (u[i + 1] - 2 * u[i] + u[i - 1]) / (delta_x ** 2)
        u_new[i] = u[i] + viscosity * delta_t * d2u_dx2 - u[i] * du_dx * delta_t
    return u_new

# Main simulation loop
for step in range(num_steps):
    u = update_grid(u, viscosity, delta_t, delta_x)

# Plot the final result, velocity vs position
## include labels and grid

### (2) Complete/debug the script below, 1D laminar and turbulant flow


The script below is using the 1D Burgers' equation to simulate both laminar and turbulent flow. The same version of Burgers equation from problem 1 is used to simlulate both types of flow but the velocity profile is change for the turbulant flow case. To accurately simulate a turbulant flow a derivation of Navier-Stokes Equation would be necessary in at least a 2D domain so in this case we use sine waves to visualize would a turbulant flow could look like in the 1D case. 


In the simulation, two different initial velocity profiles are used to represent laminar and turbulent flow:

1. Laminar flow profile (Sine wave):
   
   `initial_velocity_laminar = np.sin(2 * np.pi * x / (num_points * delta_x))`
  

   This represents a smooth flow, as described by a simple sine wave.

2. Turbulent flow profile (Combination of sine waves):
   `initial_velocity_turbulent = np.sin(2 * np.pi * x / (num_points * delta_x)) + 0.5 * np.sin(4 * np.pi * x / (num_points * delta_x))`

   This represents a more complex as it is a combination of two sine waves with different frequencies. Turbulent flow is characterized by chaotic and unpredictable behavior.

Both the laminar and turbulent flow profiles are used as initial conditions for Burgers' equation, and then simulates the flow by numerically solving the equation over a series of time steps to compute the final velocity profiles for both cases.

In [41]:
import numpy as np
import matplotlib.pyplot as plt

# Parameters
num_points = 100    # Number of points in the simulation grid
num_steps = 1000    # Number of time steps
delta_x = 1.0       # Spatial step size
delta_t = 0.01      # Time step size
viscosity = 0.1     # Fluid viscosity

# Initialize the grid with two different initial velocity profiles
x = np.linspace(0, num_points * delta_x, num_points)

# Laminar flow profile (Sine wave)
initial_velocity_laminar = np.sin(2 * np.pi * x / (num_points * delta_x))

# Turbulent flow profile (Combination of sine waves)
initial_velocity_turbulent = np.sin(2 * np.pi * x / (num_points * delta_x)) + 0.5 * np.sin(4 * np.pi * x / (num_points * delta_x))

# Function to update the grid using the 1D Burgers' equation
def update_grid(u, viscosity, delta_t, delta_x):
    u_new = np.copy(u)
    for i in range(1, num_points - 1):
        du_dx = (u[i + 1] - u[i - 1]) / (2 * delta_x)
        d2u_dx2 = (u[i + 1] - 2 * u[i] + u[i - 1]) / (delta_x ** 2)
        u_new[i] = u[i] + viscosity * delta_t * d2u_dx2 - u[i] * du_dx * delta_t
    return u_new

# Main simulation loop for laminar flow
u_laminar = np.copy(initial_velocity_laminar)
for step in range(num_steps):
    u_laminar = update_grid(u_laminar, viscosity, delta_t, delta_x)

# Main simulation loop for turbulent flow
u_turbulent = np.copy(initial_velocity_turbulent)
for step in range(num_steps):
    u_turbulent = update_grid(u_turbulent, viscosity, delta_t, delta_x)

# Plot the final results
# Plot the final result, velocity vs position
## include labels, legend and grid

### -- for the below problems pick one, or try both! --

### (3) Write your own script below, Particle Decay

Monte Carlo simulations are simulations used to model and analyze complex systems or processes using random sampling and statistical techniques. Named after the famous Monte Carlo Casino in Monaco, known for its games of chance, as the method heavily relies on randomness and probability although but may be determistic in principle.

Build a Monte Carlo simulation of particle decay. The simulation should model the decay of a collection of particles over a series of time steps, based on a given probability of decay for each particle in each time step. The simulation should then **PLOT** the number of decayed particles over time to observe the decay process.

Hints : 
- you can `numpy.random.rand()`
    - fell free to use your own probability distributin though!

- Possible simulation parameters:
   - `num_particles`: The total number of particles in the simulation.
   - `decay_prob`: The probability of particle decay in a single time step. 
   - `num_steps`: The number of time steps for the simulation.

Overall, the code should be a simple simulation of particle decay using a Monte Carlo approach. The results of the simulation show how the number of decayed particles changes over time, giving insights into the decay behavior of the particles based on the given decay probability.

### (4a) Write your own script below, Volcanic plume simulation

Here, define a function called `plume_simulation` that takes the discharge rate ($Q$, m$^3$ s$^{-1}$) of an eruption, as input, and calculates the corresponding plume height ($H$, km) using the formula $\mathbf{H = \left(\frac{Q}{2500}\right)^{0.25}}$. Calculate plume height for discharge rates of $10^3 \text{ to } 10^{10}$ m$^3$ s$^{-1}$ and then plot the results.

The plume height equation, shown above, is derived from bouyancy theory using volume flux but we are interested in mass flux so we make the necessary conversion by using the dense rock equivalent of magma density (2500 kg m$^{-3}$). Thus, your plot will be of plume height (km) as a function of mass eruption rate (kg s$^{-1}$) and should be labeled as such.

Despite its simplicity, this equation provides a reasonably approximation of plume height behavior and have shown to yield results close to those of empirical models (this can be easily validated using observational data). 

In real-world scenarios, volcanic plume behavior involves multiple factors, including temperature, atmospheric conditions, and particle sizes. Similar to what we saw for the turbulant flow problem, accurate simulations require more sophisticated models that consider these additional factors but we can still gain insight about these phenomenons.

Hints:

- use `discharge_rates = np.logspace(3, 10, 100)` to generate a range of MER values

### (4b) do the same thing, as problem 3,  but ...
 
 - add the data below
 
` data = [
    ["St. Helens, 2005", 9, 4.00e5],
    ["St. Helens, 7/1980", 10.3, 1.40e6],
    ["St. Helens, 5/1980", 10.2, 2.00e7],
]
`

 - add a colorbar that represents plume height
 - add anotations for the eruption data